html, body {
    height:100%;
    background-image: url("../images/ocean1.jpg");
}

.toolbar {
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
}

.tabs {
    background-color:#ad9764
}

.centerTaco{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.centerVertical {
    display: block;
    padding: 20% 0;
    text-align: center;
}/*

.content {
    position:relative
}*/